Footer {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
    color: var(--color-orange1);
    align-items: center;
    text-align: center;
    width: 100%;
}

.footer-3-cols {
    display: flex;
    justify-content: space-between;
    margin-top: -9%;
    width: 90%;
}

.footer-logo {
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: var(--color-background);
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-50%);
}

.footer-logo img {
    width: 90%;
}

.footer-left {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.footer-left h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer-left-place,
.footer-left-call {
    gap: 1rem;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-middle {
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 15rem;
}

.footer-middle-line1,
.footer-middle-line2 {
    width: 10rem;
    height: 0.1rem;
    z-index: 5;
    background-color: var(--color-orange1);
}

.footer-middle-line1 {
    margin-bottom: 3rem;
}

.footer-middle-line2 {
    margin-top: 3rem;
}

.footer-right {
    width: 25%;
}

.footer-right h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer-right-work-time-Pon-Pet,
.footer-right-work-time-Pet-Ned {
    gap: 1rem;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-copyright {
    width: 100%;
    padding: 0.8rem 0rem;
    background-color: var(--color-orange1);
    color: var(--color-background);
}

@media screen and (max-width: 850px) {
    .footer-3-cols {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer-middle {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer-right {
        width: 100%;
        margin-bottom: 2rem;
    }
}