.Contact {
    background-color: var(--color-high-red);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-holder {
    width: 100%;
}

.form-holder {
    width: 100%;
    background-image: url('https://lh3.googleusercontent.com/JbnIfnA9yOPIwzXwAbc6Yxtlfsby7SYGKTqQzLN2FaQkDuKhGFcatdn-RL654vAjNgScZC2sx4y5rOtPoGMleBfFxNhe3dwkxWtJDMpkK2G_MUsp6MHRPCx_QpYxsrJUQTskMKtHxQSgvlSTdsTYbqce669FMn4BkXZzLnxiiO7PWybmGTXVdQTVrHXwJ1dIwhLZigRphgPlFO-X2iCorTckNXWgGpVcsahCZXptDaEuIGgeQtHkuF-OjpNSAWSZA6Vey_rSGFFv5JCsA3g9xoI8B9XDsT8MN1dMr6twsvgvdzBZszOaT87dX5O7_KIHVHnUFcVDPhX2MNek4gOVYaIjDMeviCAHp_UMAamJUMs2Y9WHNt1j2ycJ35PyQxKa98YAbx2Eqg8TduG-3qNSagOfnX0_00shiMUQyAX-iNIBZLPkE7av1oRf9i1xXC52MQRGGNilP6etR35EONqq4Prqp9M5Syz1bjv8i_LvkEzTcO1aIk9V94PFQ755Kg_4_kIpNdBi0odS8swinqZaAc96AtKoLBfBJcRSXjlnd-w-YnuRR9gWjRTTz9DImlOLE-oz-hOVRf4UA_SSbiC62YHhsPKqWTKX9tQaJ42PnTt1pfAML10QzJXo0Rr_wLatOoj6GH_8piNsk229kamUYiiQnTgyLfJs7DsuKJBTaNAOWUzOvt_VqdgcFujzNTI_MfLbe3xQuyFocWt5y7JBHL1_Mdy_gEzn82jRajaQULsk8hycBZOfR-EVWzsasUlmlVBejILE0AM7YVZqbldzeNHpgeVSiegvxr1Tif9wcC2ZOhAA2K5m6B_tszLylcQX6tcq=w1129-h903-no?authuser=0');
    margin: 5rem 0 10rem 0;
    padding: 5rem 0 2rem 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form input::placeholder {
    color: var(--color-white);
    font-size: 1.1rem;
}

.form input {
    width: 90%;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--color-orange1);
    border-radius: 5px;
    padding: 1.2rem 0 1.2rem 1.2rem;
}

.form input:focus {
    color: var(--color-white);
}


.form textarea {
    width: 90%;
    height: 7rem;
    background-color: transparent;
    border: 2px solid var(--color-orange1);
    border-radius: 5px;
    padding: 1.2rem 0 0 1.2rem;
    color: var(--color-white);
}

.form textarea::placeholder {
    color: var(--color-white);
    font-size: 1.1rem;
}

.fullName {
    width: 90%;
    display: flex;
    gap: 1rem;
}

.fullName input {
    width: 100%;
}

.contactBtn {
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-orange1);
    color: var(--color-high-red);
    font-size: 1.3rem;
    font-weight: 500;
}

.contactBtn:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .form {
        width: 100%;
    }
}