.Contact {
    background-color: var(--color-high-red);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-holder {
    width: 100%;
}

.form-holder {
    width: 100%;
    background-image: url('https://lh3.googleusercontent.com/AE6Bj5GQjlvIE84xv9QK_kGh13LtPB5kfC6h6g6aTqStkfqSDBdLJzSvbGHE6hhzn6PaQ_WT99KaFtwxs4uHeisghYeMS-3kMmzfdGrgTU7Th3htQ6zhmZjfA6kcJ9ltwAEsSou2Kd7d0zU1AQ8N6M4x7J5Kgfsjd1l08cgQW3NWxhQUL8iwUA1v-fGdDiGmxJ4LU0GFWvzHc3jB4mqZ4AkUSHo-BQZZrvE8ohoh3by2V2pI1-7l8XUtU0GLiLzf-rUERo58cSjqWi2IOkXbb796SMlWD4v934isYBJYl-3sc0MwSM5JMTT6k5yO4ftzinlFt3qhMjWPn5YVWOs3mNltxQTQdhC6qDkpSI5PlaiKXM7En7Yib-LgxMX03E2z7AfzZBShCIVgMdsv4KqujpsFVmmBuwSPU5MoMoiEKn18cUh7TRcoCR2i8Ay8MfeAzPxTHwPI1XaRLGFWs9sXE2uCqAUxBFYDtmXoHA-GfCSeXspqdw_dooUk--LvBUUAH_fco0DT_jSCP82tCD31thvQ4fRAGpGxGJVgKVvTX2qMMI3kBDy-jKfqX01p6hPPgu717-Esbp6NZvfkLhMzM4u7A8t5XgPFJZjHUPFogABsxviXPZ4vNtzOcpwDA9SQJuC4_RNUCiIUQ3FtDaLtNYZGElp9OpP29_ps5s3OhZkj0ndvOEJA8EyJ5bI3YV_c_o3jRfG7YQa0u60A_HYSOL8980Nt1T45Bx0R0PhZtTQcx6L0zu1UiOtE4SiXzLgbeH5x8ITljz5syh3a6D7zfgcm1pglyQPgZcWOyGeC-LY7So0yxIpEBVrhfJ-b7qVNPOFj=w1129-h903-no?authuser=0');
    margin: 5rem 0 10rem 0;
    padding: 5rem 0 2rem 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form input::placeholder {
    color: var(--color-white);
    font-size: 1.1rem;
}

.form input {
    width: 90%;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--color-orange1);
    border-radius: 5px;
    padding: 1.2rem 0 1.2rem 1.2rem;
}

.form input:focus {
    color: var(--color-white);
}


.form textarea {
    width: 90%;
    height: 7rem;
    background-color: transparent;
    border: 2px solid var(--color-orange1);
    border-radius: 5px;
    padding: 1.2rem 0 0 1.2rem;
    color: var(--color-white);
}

.form textarea::placeholder {
    color: var(--color-white);
    font-size: 1.1rem;
}

.fullName {
    width: 90%;
    display: flex;
    gap: 1rem;
}

.fullName input {
    width: 100%;
}

.contactBtn {
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-orange1);
    color: var(--color-high-red);
    font-size: 1.3rem;
    font-weight: 500;
}

.contactBtn:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .form {
        width: 100%;
    }
}