.Contact {
    background-color: var(--color-high-red);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-holder {
    width: 100%;
}

.form-holder {
    width: 100%;
    background-image: url('https://lh3.googleusercontent.com/AwTxcuCzCN9CKUpwdArB-h7rZkcn9oPZGsp9T-6TNAvwNxrZvNf6eX6dVSgcLXF2hIUeE_BrdCfursZEx0TTMUFB9wmeOCkpYN_wik1G6bu6x0--hCUiAUiFlFjPL-af6_Dyyg6ShtRvPJW70yEGwFXdzPV7jbX3UdckX_Y7-2jKJ29BvQ5R9GBLWDS7jAFYvIHWiqSHFmyU2J6Gb46T2S1tWOf2G-uJ2-j9zawzyAyDsaBojS2UGZxR3zHzY8qohaNEOWrcuh4Mvyo86qKeK5z0ulSxflOYEgN4mbJVyBxW8XBnD-04yxo58ATetWzoL8y0PtAQxDXKNaqyVF-ehKWcmj2M_OrkZ1XoBlm9MgCQlFOONtqg2H037MXgTWrT744S8Ljc_TxlbeN6nTSO9FsiCwcvCvWavlmiEMXDlIvAqtYinfJdRYCUmq8S_Za2PriQ0DZlIOrzIK22j3MpgGA7_hsZa4IIe9qw5nZLtnu-17q-4sFtIYjmh70O-CtA_0W4W3554xx70DKIC5OfJOWvamU0FdLEot2IyJhy17cleDJ0o_RJfO-LgiXPStAR9BESy5tEGoizELQ58r_K-OxZ1JU_4HKMuTeTT2XwK2CTOZeaGSOfHZ6yTMVDBAdG8o_hgHUQX2j0f4MGqxKNfaU3QDEdTgZIgHa2qrEXusIbByuzWjy_LnTIxV68FBqTs0GwqWMzi2XkDLqx_nGhxHJbu5SyWvcupHd-9dta8z4pC3C-2XqI2qms8s6IODJIOaqLQ5gnhcZfikwRZQj2aw6F15046jKJ9WGmuW5_Jt_XdO-tJ-mJcVH9NkptN1gf394S=w1129-h903-no?authuser=0');
    margin: 5rem 0 10rem 0;
    padding: 5rem 0 2rem 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.form {
    width: 60%;
    padding: 3rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form input::placeholder {
    color: var(--color-white);
    font-size: 1.1rem;
}

.form input {
    width: 90%;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--color-orange1);
    border-radius: 5px;
    padding: 1.2rem 0 1.2rem 1.2rem;
}

.form input:focus {
    color: var(--color-white);
}


.form textarea {
    width: 90%;
    height: 7rem;
    background-color: transparent;
    border: 2px solid var(--color-orange1);
    border-radius: 5px;
    padding: 1.2rem 0 0 1.2rem;
    color: var(--color-white);
}

.form textarea::placeholder {
    color: var(--color-white);
    font-size: 1.1rem;
}

.fullName {
    width: 90%;
    display: flex;
    gap: 1rem;
}

.fullName input {
    width: 100%;
}

.contactBtn {
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--color-orange1);
    color: var(--color-high-red);
    font-size: 1.3rem;
    font-weight: 500;
}

.contactBtn:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .form {
        width: 100%;
    }
}