.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bannerLayer3.jpg);
    background-position: center;
    background-size: cover;
    padding: 10rem 0 10rem 0;
}

.banner {
    width: 80%;
    text-align: center;
    padding-bottom: 5rem;
}

.banner h1 {
    color: var(--color-white);
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.banner p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.banner .homeBtn {
    background-color: var(--color-orange1);
    text-decoration: none;
    color: var(--color-background);
    font-size: 2rem;
    padding: 0.5rem 2rem;
    font-weight: 500;
}

@media screen and (max-width: 760px) {
    .banner h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .banner p {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 560px) {
    .Home {
        padding: 6rem 0 6rem 0;
    }

    .banner h1 {
        font-size: 2.5rem;
        margin-bottom: 0.8rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 470px) {
        .banner h1 {
            font-size: 2.2rem;
            margin-bottom: 0.8rem;
        }

        .banner p {
            font-size: 1.2rem;
        }
}

@media screen and (max-width: 380px) {
    .banner h1 {
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}