.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://lh3.googleusercontent.com/VwwH5bhWn9ZQf8mOti63tmm18nbI6bMpqBANbSMFid7Bcbnp_toOzqS_hAf7h69Em7aefymiWe7e9BNbNrxENRuUPAQNpmZlQ7FvkPL86qZEahWt4AeA6FW7f2kjKSh3snvaM8xwMezFsNcKkSPFtJKVE8h-Wl4Mg4drH6k6w4x63IEmH1g8kuE0-T_2885IATc3rqPeG9FW1QaZ8t9Mbq9SkLDMQn4JXWo8FJe56wglbsYu6vzuTk0RDIFFUZEHTkDu2O5McD0FJ4nS2sfnGl6GkrjdKDkiDaAa98qxWe79oJac4_zriCZoM6-0mb6nEni-1ns1Pvl47I2aXmZj1Wp6Qhs3svlhAiISm8fSYYr_azI_PQ8Pq_XebTmIdf1BvkjEdnnp1q7vh-afBJ9iDf7aXkiPAhtBY2XfCHSiEZhoBm2VbI8Ddm2I8m3xQh0PjJSx__FIoIykp1XLkHJoQQH0sfVn1dqb35mqonC8TdIr8PNX94pY_JlH4D2DVHgcqJz-zyJ5RuKQTQsxsjr7fidLinyVfLCf43iDL1tPObC3316YYnEAihNkg1GjVeBjphdbn1WSw4dBLpURVRokqwWTkHYvEUD6Cnzp7QgdnIae85coGRHUwm9Ps5HQtSKGb4bkpR5ihgjIhGxR1JpucIoazmei_liG7ObYnYKpRXAxKUrfXKNKL8zuIgUULbHjMmr6Mu6CwZ2jjBT1b9yqo_lYUScb7B92OmobhuHzAftOkz8lujx9MGM5w0JJCGX2CACu0nADn4w9MiWVNcmxns6p0WzCiOuyLKdG4BdiaS_9k-IoZEMNgfgbNULo-wArdWqj=w1334-h890-no?authuser=0');
    background-position: center;
    background-size: cover;
    padding: 10rem 0 10rem 0;
}

.banner {
    width: 80%;
    text-align: center;
    padding-bottom: 5rem;
}

.banner h1 {
    color: var(--color-white);
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.banner p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.banner .homeBtn {
    background-color: var(--color-orange1);
    text-decoration: none;
    color: var(--color-background);
    font-size: 2rem;
    padding: 0.5rem 2rem;
    font-weight: 500;
}

@media screen and (max-width: 760px) {
    .banner h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .banner p {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 560px) {
    .Home {
        padding: 6rem 0 6rem 0;
    }

    .banner h1 {
        font-size: 2.5rem;
        margin-bottom: 0.8rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 470px) {
        .banner h1 {
            font-size: 2.2rem;
            margin-bottom: 0.8rem;
        }

        .banner p {
            font-size: 1.2rem;
        }
}

@media screen and (max-width: 380px) {
    .banner h1 {
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}