.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://lh3.googleusercontent.com/HX-e1PIfI0BRMr3pbnKiti9ovJ_0qSuLqAT087oanp7GLfHvjh27UjqS1rvo2dH9mNQQIJF5vF9r_JmWyX6dTmscbBonJOZy4sctKkFCo3xN6Ghh65ZxL0dLe_vW43iPvRlOSskCW114JaUj5sMHOF8b1BYxDETcfX9_XeW23jB127mpWCKv3uaXeKmMVuvuAl-fKngTCETvpbuZ6hpb7FbYy0hnNv7DDTnxh1iQtrw2WI9vbsZ9gyRHx4xwNCaLd4_YkBoaVAaoNAy6dSYpQrcPFxVu0LeM48A8p-cj_AlNdTdt1TUzrYylqVfJ4KHx_P7e4vx1Ha8Sxb5S11Q9izhNm-ABqmrHX6R-YmctT7vAlJuta_oxe7c0_C2n7ROxMlmBCSFhAYnpUUMkdTuuUGD2yWPYWrU9NU36FtE1lQmJbI78e-MV0n8jptmLoQ-DRe3QiDYrOwmSo7EU7rAc8Afg29EhAELHVeMZJe6LFQrENq4gnPk2evWA87C3uWi7ZW5UvWL3opzpTI4BWJn1869guiFoLghyshKVD-PhfXjSmXvULYi0ltqOhOArpuoCFf5Ox46AkOXJQPnRZn1NxSJm34wDh6wV939jk-L2IAbC_6I0amtHOy19sSd_nlOHJK8z4lV8A3dcsT7_woVk7BRJt4Wgycme7SSS_PgW6TJUU_YROnD1Wo3xZsRWCAGVUxDCQWe5qt8GIiOqalah4ZLblVXs68H6uTVrHNt4uoSUqO2v2RLSX2lp8ve0hr6o1WBKcV57rfUcH7cpvV43V5Xik47L4gvu7Xwm_UJQbVvsJgMexNf-IsYYs6mDXL284uvg=w1354-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
    padding: 10rem 0 10rem 0;
}

.banner {
    width: 80%;
    text-align: center;
    padding-bottom: 5rem;
}

.banner h1 {
    color: var(--color-white);
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.banner p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.banner .homeBtn {
    background-color: var(--color-orange1);
    text-decoration: none;
    color: var(--color-background);
    font-size: 2rem;
    padding: 0.5rem 2rem;
    font-weight: 500;
}

@media screen and (max-width: 760px) {
    .banner h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .banner p {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 560px) {
    .Home {
        padding: 6rem 0 6rem 0;
    }

    .banner h1 {
        font-size: 2.5rem;
        margin-bottom: 0.8rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 470px) {
        .banner h1 {
            font-size: 2.2rem;
            margin-bottom: 0.8rem;
        }

        .banner p {
            font-size: 1.2rem;
        }
}

@media screen and (max-width: 380px) {
    .banner h1 {
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}