.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://lh3.googleusercontent.com/vP3IUTqoTJA68jYpdRd1Sqj6guJF3t2AsEUoBmTLpS9Ut4DJmLdFvYEV6iErrPh-UrdYe2SzKDr7GTvJxLqa-tgZdXgLjgcOZCJsYzAXuVsZISmgGtp2msjcikR_OlwsSlX9fyeJUjrWzqNkhwA2F2CkT4BMxWBaATmXCHvbi0v_JgVA-iiYDaP529ZN7LPmW_6WVZEV0vzE7SOSwqRVT5Tav_-uqN3n01pUeDEuBxFwDDulI3enEg1DCZu2qNOmdMd5kGysYrBwaXQD2UxhS84kfx8hM288ePkjW6-ZpenV7K-ZFR4bNDuGmI2ZmJqu7U5r6O1qDywqU51qpGC3N_GtBCXuZns5nGB0USi9Z0SlFxqcIjjFBVVpyJoOe4ildA7EmqqsDiANDsunCICdOJMKx_NQDlpr31lUq-VEg7xjLboYaNh4Jx5Nje4tgbKOXxeRGOMa70CuLaIUuY_KkvP96D4phWNti9EUfzHe9WTrfN6aIrErZ0P-MWKAN2w9ax_G8rFp3AGnPnkzbjES_273GkeVckclKKKJODUrY12SSVWUiGpi92moMynfHLZD-v0Q_6Kl1_QSxI9n-F0yHLHfZr6uz5H9dPPHnZ0YbKuWYK_MJm1DgFS0dcHMxYOZuxrY8yWtXOs7-p5MsxSf49xTtU3o6xV-LYGBgNpHAPSqlN3wIu8vb1hv6AH6Bw3O2lAAyu36qcaGyMREQhvculACZ_rlEmgxOclWLiDxAUbPmBJDLfQelNQZA9SULOE78JkigqYASWrtPIekcM8Y7hEpARcpkVNe0Nv-80XQY42tG6iNBK2M3u-gwZJGMSkCzlWG=w1168-h779-no?authuser=0');
    background-position: center;
    background-size: cover;
    padding: 10rem 0 10rem 0;
}

.banner {
    width: 80%;
    text-align: center;
    padding-bottom: 5rem;
}

.banner h1 {
    color: var(--color-white);
    font-size: 3.5rem;
    margin-bottom: 2rem;
    font-weight: 500;
    letter-spacing: -1px;
}

.banner p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.banner .homeBtn {
    background-color: var(--color-orange1);
    text-decoration: none;
    color: var(--color-background);
    font-size: 2rem;
    padding: 0.5rem 2rem;
    font-weight: 500;
}

@media screen and (max-width: 760px) {
    .banner h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .banner p {
        font-size: 1.3rem;
    }
    
}

@media screen and (max-width: 560px) {
    .Home {
        padding: 6rem 0 6rem 0;
    }

    .banner h1 {
        font-size: 2.5rem;
        margin-bottom: 0.8rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 470px) {
        .banner h1 {
            font-size: 2.2rem;
            margin-bottom: 0.8rem;
        }

        .banner p {
            font-size: 1.2rem;
        }
}

@media screen and (max-width: 380px) {
    .banner h1 {
        font-size: 2.2rem;
        margin-bottom: 0.5rem;
    }

    .banner p {
        font-size: 1.2rem;
    }
}