.ONama {
    background-color: var(--color-high-red);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.ONama-holder {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 45%;
}

.left-side-images-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 0;
}

.onama-card {
    width: 200px;
    height: 250px;
}

.right-side {
    width: 45%;
}

.card1 {
    background-image: url('https://lh3.googleusercontent.com/4i0Skla4uxrh6OE4vpoXTsT0GoBhe93zULw6Qa4rZb5037XTX1qxy7hE3hzvQitLg9g0uTcV9H_GDiVCDs0fSot4E57SDvEhK7mdDvf3f4CeMCQkVk7FXcMAQqPHEexh4Tn5A-4AFWhBMuUV_iyvHFVNUZr80UFMfbEj_hOk7Q2B_Yv-MQwLe1lUrPGPAzIXFm8rvs5Mu4si8wEOikXOQ9KQbboMLbf8QfWiycfWKH-Y9PbMLH63e2LDJhtpe5PYuduSDOrX9ka-DUoP0Zdw8j_MtDEI1J-R5XrSjrE6aAnHX1-pk30ttvxCWosbxZC0ZdkkF9RyxnT4PhPTCVnMqFpGypK53EBMFzdNQJKSvPu3AV98vzPBaOSmcOjB8r6h6Bz0YowpLE-Emrsg4iiNEIcLeXOMC6DFRkSJ9tjEA2UzkhZobsKXuh_jr1abVACSbHv1NBnHPCWxXmDIzJ1ohlLDueqxKP-WXYFjdzPilp3knJchcGiJ0iGpqfGa3Za6oloHioJuxxGs7PoBY295BUrVv-2NpRnGAUSJJw5JP49lrOmIioa8rAnXEGirN9xhWvvaBbtoyabDlrIzpAu9s8vJoR7GIzeTTB4KHKQ15Ls7BeK5iQswVFsN8A69jxFodAOPyiTVsXN-vf_EQ7lPQbivWduwGeGgW94IE3QBp7qMDIdiapKGnhnFKpB42mgWK_BQ0urfZqmnsIC9KmL2MdRtFm2P6-2a5F2ZauzA7usXKTw2LftIUYXpqpqO4n2K2QArFLvFDufsW_q-7CJKLGpOovsrW1n-fgtYDKoUX-y_-qVIRbck1dMo6Ylg15eIw6vg=w723-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
}

.card2 {
    background-image: url('https://lh3.googleusercontent.com/MO8OefQDTUfsJjdcQ0W4B4iMcEiygpJYk5MKaxkS9bPQJaonqakMUVe4_kbiuSfSOnAfkuAulXOIUPwk57PtZHW_6Lcimp6GaQgMc-WlOIqUuL9HLVxvKI6tNkRIiLZy9S2H04H2qfl3NGhtpTq_kUqV_euIGKjSn4TXThZeSBsuSp0iZkOcETVeECP8y6PThyZf8ZYx1hGh1UuaHebiyGOo84cwrl42p0U40Z5HObgZ-3RSEWa4cEYLoKf6Houc1_hYiQCdGJ5fZ7xTtelMS4IRfy-k6J7Pj7GIMrO_mVRa57uM05r74m_nNKgDFzJosd6Ddo35rDj-OUQ0cCd2Iw_FsjD1E5ECJYf5Y0AbAA5dHLWCK9pqhAjpz3ht0wuu2hqzml9FF7WZ7OIVAoaUq7T0SWM_E2eYGldcLFVfBirKQKRwsozJlc0luWVejmDAJeDnoAt3LlzTVfSXms9Rv26yNUk-nWHYeGzxAVFvho_Bz_AA56zjk8R9RRpMiTg8cCUi6Usdh2V9zBEmbnmpOYrSeJutHMFlPrXaQQ--K5rokC3vmPdp5ha3aI9topxsranzjoTBQJoggileM_B4iJO0qWlGkdxexQqQ9GHF9MzZPtTTcO1CZoyKwpa393m7QKa3KiURAfz5kGGDD6gKaJw-41lpp_L04cIQNAynLjkjEki-UT4nsmpj6ZndvIEHCVpovT8GRhJS3dsO0tm6YhqrJufPLc5H6WVaHvD__ZiZECWuN8i18qIS26b68WvkCxETqAJrxp-S8VcvOZWsVlvQr2Scsra_A_XWwOhWH9NBlOyhtzkGkKPViCp9CLlqucKn=w723-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
    transform: translateY(-2rem);
}

.card3 {
    background-image: url('https://lh3.googleusercontent.com/IUu8IaCl5Rdh6g_bvgqRq__eNQWWVTNKt5lfRdGnby3Ie8yaW7agm2-XeTlVHQf1McWnTJpS8zN_liwQIpTPL6XIiZI-dor7fklGJqQ6uXzUZGWatMErcNntrwjTQGCxvdU2NHVRdiYdGbSOvhwlmrlw9fPd7YAWTAGwz5uOXwvGZNjn4KN6wwRuJvtXbnBArbB-C_lSqagoydRyBNVnn55UON6jxRY05kXTBKpiMPaB1PSRc5FPElxytT-H5rHtFkyUrJRRZZCauxJe6n4Pyn1hYKgt-enCc0zdYkvXfxecnIYB5Aq1M22qFVNsoFP4NJ00LuahAEY5m2zuZ-7JiESESGF_pvwVPK6-o9m_izo93A1tDJlwSt_nNGzBCFwtDzQqY_cSTzBLZtESjW1bGjz13XmojGdVOkGz4mJDIvaYNE2rYkti5fkzMt4xpYgaCa0EWYk6Hvk-MAKAW4cjdh6WTibaAAQvSavtgcVu_SMkpJSuvp1gEWNYK0MWMDZPpFB8CzqMF2kkzJ--mQsATcqU6nFQ5kWneM_v7yARDIOYRQimJoYy9j3jvqFMiBlpjrmh3X9qG9vQtfkZLfk0a4Url3zABeti3NfLLBDSIA9TzPXnRPjZzlJV5HkOujpVrEI1jkeWcRymB6vkxiTH8jUZhiwXjajYmPYy31r62gq2PlDa1Ble_yjV-kzK67i9U9Z9jzu9D15HeHGn1YTJLbulzr7mI5mCJhjCubzh-kJVR6DbPmeqjr6tgbenjifViSgSUmK_i6uPzgeY2RcgwdF825cOsNJ28J6koSfCbFFrsQDwTJbLK_BuIIdn_VOiMVqA=w1129-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
}

.card4 {
    background-image: url('https://lh3.googleusercontent.com/2wZ1-pdkkmKzavJwgusHd62mt2Ujv3aDEcaq3ivGgSwGtnrSlUeLeQQAM5Xi5pLCc9FqQpA8bA3JlsajLIjaLd4Nwzh7L2dWFeCVKGjMNfnbjz-O44sTFToXP9opmPnbkH7--4xZWtryAPlTyJqILfC0470_rK3D0LiHhuSB3i0kzBfzGRlgfdPvdWUnPZCUWy5Hvao5sOUEBMuRZK48OBYFPhLHVw2zSNAEqJKMuKkBWUKXcJU9ozaRTjt8F31ZiMnPgu5T-aDHUJk_CSM_yusnede2kzGQDCOvd6744s8O15TctVXlVwGCrUo-bpJjgrSEE5-6XAY9B2EQo8L2Wy25AFT7wwgxdEl-w_VwAUl2aM4HqBQhRWdiy39Mp_7diUP_hye89o156SkXmuk4EZcGuPmArfFZwIcRur6K0HhvG_17MOTt4KcvUp1ikRPsE5poQNd00skzhyobgSuYeb3bBYERtH2WKZrg46aqMvrdGD_Nh0P3H4cVxwHK6DhkSdIRImqcEoUyGPnfNRUZdhUQ57FTk47CY5ePE5EB3le-Zixa7bO3iYSk3iZC5EieZ-rgqnRhUB6_TwYk5ewbQOmh2GmLfHK_YCcKYubWrCNg-OmHwORCh3UTFl_uJCPHoDXPbP0bU3IhZNaZ91F4aDsQZqicAouoaD1_4QsCaPuo1WmXskx8mLyi-mTbWSAJSCY_96lhrbsUlWcjpVrska8to3cGbBNo8hywlHCGza7Z4-Jf7QR0Z2OtsaEJyIOwEI_4nKY3iMcubwD_VDqg90VoU0JROUtOpDYKEIn1zhS-wT4ubFTC8k48-iAAiurNPq2e=w603-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
    transform: translateY(-2rem);
}

.right-side h1 {
    color: var(--color-orange1);
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.right-side p {
    color: var(--color-white);
    font-size: 1.3rem;
    color: var(--color-orange1);
    line-height: 1.1;
}

.firstP {
    margin-bottom: 1.5rem;
}

.lastP {
    margin-bottom: 2rem;
}

.onama-btn-hodler {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-orange1);
    font-size: 2.5rem;
}

.onama-btn-hodler a {
    color: var(--color-orange1);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width: 1050px) {
    .ONama {
    }

    .ONama-holder {
        flex-direction: column;
    }

    .left-side {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .left-side-images-holder {
        max-width: 70%;
        justify-content: center;
        margin: 0 auto;
    }
    
    .right-side {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .ONama {
        padding: 5rem 0 9rem 0;
    }

    .onama-card {
        width: 150px;
        height: 200px;
    }
}

@media screen and (max-width: 517px) {
    .ONama {
        padding: 5rem 0 10rem 0;
    }

    .onama-card {
        width: 90px;
        height: 130px;
    }
}