.ONama {
    background-color: var(--color-high-red);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.ONama-holder {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side {
    width: 45%;
}

.left-side-images-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 0;
}

.onama-card {
    width: 200px;
    height: 250px;
}

.right-side {
    width: 45%;
}

.card1 {
    background-image: url('https://lh3.googleusercontent.com/3sWYSzIEXZI2x7bCnuCuXUAGiOvkU0As2-uNDa8hvE_2x-2qhCc_ho4kOflbOnXWQdlmKw7RW-ONS0r54YNf7qkrIf3LRI5mf2tkOrAjSlJmlIOQajqnkkzDSPXsDMXuiDFsiw4Rh-JRvHZM5VsSNRhTqVm4htLjoAeFAAg2vbMtoTPgTsc5QRo5Iv-Tj-U0GHscgRjH6yz0-c8YGIspS7z6TboD3ATo4JWXqjtgC7w28fXibEoxlVILhzJ-Mrw0SWBpTTXqbidINH7ObaTEJTX1aky0b87CX2pnFRIz3kixj9w_Za-l-vP3syvd4v_nUNNbcGzkVbSiyhsxthPIWcM-LxSQEqimgihQUxN5yengBqLTjvZMfir7-2aSTF_jhyI0gIZXiqZFnp4KUCOwTBAoecZV2JUP8rpBQV7HI2sLr2M6HHrF8OVDtTIDtnmDsckVq6CXjocWoy39tQh0E8bCcijfBJP_ZgSzpxac8eE_LXu95lqsjphnXRf-mMtGDlSwF1iKMiZ17XQiXx4GllYJud52ND_NqEShdNwCYIABLEMmGkkoOWlTAEtsG3MbAs63jFowpvVl1jXbRy-RpW7InYWqzkwqT63Er2nIDCz-1JNg_vxKzpjw8NhZztyprjb0usvI_SGVvpx0043xiepbgY31GLByHGWrGZRQKBP8Jx98cmL2v8H_3cXyKWEeCKrmmbMHwRY8YtE75viK-biaWzaGPnpl6ymmsFc_x-cd34_z6RuWvRowCoe0oYM-LX6yMnCRrjGnFF1zcn1dfDFbopowQ9ooOixXV0FE4bClUnjhOVdXMgSuhW3-RWi41WRN=w723-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
}

.card2 {
    background-image: url('https://lh3.googleusercontent.com/9ZIgjaqErOwG2Pbw3Y-6rXF7_bcIIj9Viyanky3hDd2beYT3jQrsr3Qlsj9pvF83iJS2O5tgnUgEMQvVIT32JXVpq0aPpUHSZPGHnIzn8i0ykQJXL5ugcWgUDtINk6ROeeAE174ZADygd4FzYraPoZfMm8XgkRDU3al3ikP2re29Xf5Lb_HQdvMsCQpaDc57vUBtdNvzpQ0SCymPW66fm5Z9fyGjBrJA-BcRHycb7mmnTqVDL3MkBmGku0JXwjDuaHqYvpqXw4uvsWV463n7cepU2Iae5j1zEUwPzseEX5YMmosUnAGyTeo7-SuJDmgmW0KnLkK6lv5OcUoZyw4d4eiwEflm8W4lp_h_8vZlC1mdP9nEI6M2Y_yj4S5rqxE9DfI0law6J4mGP0yemG3XGpoddMNMb89aMS1O8WPXLo0wiKT-pO3ZlxFPU5LQJdtPEX29bGvMqmjY-bKtPAvVVVl3PxR3YwivqKbAnjkY9jy8gGpQkDK3wA7UHq8qoijBOApyC670NPU6UtSiVAjEKsjRltz8FDoUvO5i5rL94vp9IBHGPJJWqaY9qJkX1alMuQlJENPprbOHviZe4fexiG_9Os0w0mOtzHEVTI6QB3GFgsLKMCC3Yov9kMbtsJqnyExgsZuNGL98EQ5G00u9bvOPY1A0gIEi17P58Aoii7-sSF5XPV1Q_hwmPiyCqzuGF2SEJ113hZNeWUzq-IyXS2VJq8MTHKDk9Vrmo59z-CagpWSm9XOQU3bipMx06aiO3xNa-Iy_G4nOZ7AUpkaIWgLqwI5BW1HIdMNOrJLGoTEmO4EOUXckssekba98uVpwW2XD=w723-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
    transform: translateY(-2rem);
}

.card3 {
    background-image: url('https://lh3.googleusercontent.com/HXrR5scwpkjaypb6e0KTncJWFKy8NUsa2h1sWoNZvOGcK2SDIbwdYzo3t4I0VqQER0M9j9Z_b7fYCeT6Np6Aefa4Gi8lATnb5fpqPTdFfGH9WyWjSjhSYSjXmRy_Up2ohnxv7Js5P0C2OHRT74GGxGezpH-d55EAnye3272orPwpH1Yb9lVcKfRujUMPSCHL8CDR_CF-2SuEVCJlWgEZZcT3JnFYhJ8G6Vi_BOn3T3xn6bjKdVJZgnIEdslEww8zFevU_0LxxkyVObXc6z4G-Oncej3tvJoQQyf2PdxzyQjrub1J8-C9hqerFdL03iIT-lWtsZGdN5UYEbMebpQiXCnrQttBvEeGzUj-ymt8UAQNjA78uX1U5u9w8AjG6FuTlLn26yC3tz0A797aBOy7jShTAiyQJVZcg85jAYlIk3N9XIi2vzL-GjwvFLaldR4iYR0mBzAmq5EAKNdNBldzctyR_tozL-x_PB77QgyOaOiQ5WEyzNwI0ukuVfGy4TXQIAgYY3B0t1RQPxJjRrg5AQmasvrFv_mI2PJ51Zdt9MxIi5ebP-hX3EUMU1Qvn5y_oERZ2jYNnPK_hWoD94VkzEI0w0ThMkavYBj_k4K_wlrkhm1PtssTrb1TEohE3Z5rQ5-c9-pMS5BCNUtUiPiz5A1TeTlStaOYB20Y3YS7XYo2wnO42F9FqikPlDXpJDqddSkcz3fiTwBssK85syRP0vdnkCX-iZ96yw6p6XHNrUq_fLtGDYlZg0YCaTzdDEIxgezQjhbRMg8ILDi16CRIizGFlqsTILFTvdl6zymu4MfWMsqBMoiECbeROu4O4xXbpsa2=w1129-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
}

.card4 {
    background-image: url('https://lh3.googleusercontent.com/mDy2jJgtmbxUP0vY03jQ5w4024uIUdyU_zUMw40D1A2s3kJoaDXpqPcoXQ__wv1LVBRlZsV2QpknTJrOazs_QyN2Lm4lN59159oWFCBKKso9RoReqvRVVcluBK8YmpsIjl1mFNQJbzJ40vJCWe85KnjIUnI5kX8ZaC8fuMWoYgkGIJ38g6tRcByht9lyUQv4Gro198UrWpELzNDgYPpxkY9-rABBAvOzASz2N77L55r1p3fJom6pvowK31b3ylE0WHclO7iXEP3k9gq1bAG6Ffru7ikX92opsilWPrsTWOhxrd9UNcYdXZasFzat_wT6hyJwJXfm3MesbSJIkI9slol-Ga0ozlm5mLsJOalvy4AiF9s-3-dkfUbII9DCd7ymdVOly-UrNNwqjcgyzjKSXRJ-n1luxaQRRZDB1iHnZz20X8bugk_pvTTMxuNSqU0IXFyJa82YI0CZPlzGC0b_FUY-rlpNHzMZ8VeBZ2hm2Y6EzhIKtOcHVuBz06ZId-sa_0r4b21QR3-AZAF2Da7pEKP5sdATVHIZF6Te25mMWquT3ECGKZG5F8anwRwZgVm0jVc7ZjSvMTE2iKhelGF09Kx3RfqirVSigSHrw0PDBGaYv7KyyRwO_-2MOsevFIQPuo0N6AWt9xD89aAQAB8LV31cWxVgKCY1LicHDWzu-eSdYu90j_uu7fySJBJWt1URf-59l-ZEghDMQ8fu7XwUqA8INmqVAT877f5V6yLKXpAZD87gq_XnkRWgwfJpcwvw8WhvNoWJyjxYgsh_Kcu5OpMTBqJP0QfGVL6rcy0IccJyOIALSbWazxzrmrPqxINRPNJi=w603-h903-no?authuser=0');
    background-position: center;
    background-size: cover;
    transform: translateY(-2rem);
}

.right-side h1 {
    color: var(--color-orange1);
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.right-side p {
    color: var(--color-white);
    font-size: 1.3rem;
    color: var(--color-orange1);
    line-height: 1.1;
}

.firstP {
    margin-bottom: 1.5rem;
}

.lastP {
    margin-bottom: 2rem;
}

.onama-btn-hodler {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-orange1);
    font-size: 2.5rem;
}

.onama-btn-hodler a {
    color: var(--color-orange1);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width: 1050px) {
    .ONama {
    }

    .ONama-holder {
        flex-direction: column;
    }

    .left-side {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .left-side-images-holder {
        max-width: 70%;
        justify-content: center;
        margin: 0 auto;
    }
    
    .right-side {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .ONama {
        padding: 5rem 0 9rem 0;
    }

    .onama-card {
        width: 150px;
        height: 200px;
    }
}

@media screen and (max-width: 517px) {
    .ONama {
        padding: 5rem 0 10rem 0;
    }

    .onama-card {
        width: 90px;
        height: 130px;
    }
}