.home-background {
    background-image: url(./assets/bannerLayer2.jpg);
    background-size: cover;
    background-position: center;
}

/* .navigation {
    position: fixed;
    top: 0;
    left: 0;
}  */

.page-heading {
    padding-top: 3rem;
    color: var(--color-orange1);
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
}

.describe-text {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-orange1);
    margin-bottom: 2rem;
}

.modal-button-up {
    position: fixed;
    bottom: 5rem;
    left: 5rem;

    width: 4rem;
    height: 4rem;
    background-color: #421919bd;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-whats-app {
    position: fixed;
    bottom: 5rem;
    right: 5rem;

    width: 4rem;
    height: 4rem;
    background-color: #25D366;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 0;
}

.modal-button-up-icons {
    font-size: 2.3rem;
    color: var(--color-orange1);
}

.modal-whats-app-icons {
    font-size: 2.3rem;
    color: var(--color-white);
}

.modal-whats-app-icons:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .modal-button-up {
        width: 3rem;
        height: 3rem;
        bottom: 3rem;
        left: 2rem;
    }

    .modal-button-up-icons {
        font-size: 1.8rem;
    }

    .modal-whats-app {
        width: 3rem;
        height: 3rem;
        bottom: 3rem;
        right: 2rem;
    }

    .modal-whats-app-icons {
        font-size: 1.8rem;
    }
}