.home-background {
    background-image: url('https://lh3.googleusercontent.com/OR_Ahi-7_zrSTzew-KrEH0VR1WeXYrx48ELxCsfZw0c9E6PIb6PAEEH7i_5neA2hcOK3HPEilvhOZqNHqZVA4UpWFBT6EbI5aGZL2AngiyGfOb6ZxeGa-Wxyup0iAE1XQkPTomAEcgQ1Qvgt6GjefWpnV2VicMA_flCxAJFiUMOQZwCyYKWukeatwDDHEGztYPsiXMFLM2zDqSKlKmwHTkYqOZjzwNDMpt5jJg8bDhnTX_T_LmqQtxeMlo8f20VCmB8CMR5UvN_R2pg2UmrUxNq1EWbFmnPA39YyEBC2WJkneKtMux3QrfWr7hSi-4a-2kOgIPUSNVHOTVbnVKosy5Ke9WNUVZNh53Fd1ep52LnZ1nfSVILGT6F_C0JEpOvy-vV-rn1smk0vioioCXO-9N7f6PEEu_nFUEUTlNGm3rvP9D6raCSPuUsAhgwmiIweVBj8cLysPM0xnLYABCeIz8b-0D7q6wVsdkVJZWBkocq4W0xoCODE7WtEHTrLUy5qVHxDiGd3TuWVKNxYjomRTb0eA0p759HJ5XDtKG8qU-mywLQ6tTOJw5AH6JDsG0777OdxEe3G4V0vo2QcFD_lwFPvwLHcp7FtfQclSPoSwBgqhC7oMIksf-niYHt43PrZLw86MlLHWVUKbgaMR3FCWo9zPr8a-DEtgo9wADm1BC-_KJv8HNchtbWyXsYlacKsrsft9otySFpthY7iI-6uo2nCiy74DSC2Nw5yjmtWqT6Tdf-sLG7dIWcGeNharqoCxOPAkJPx4vnQa_Sd5rIXkUh2wY3kQX3phHVHZKq28ukZg7iR74P208LNFbn5ceFpg989=w1354-h903-no?authuser=0');
    background-size: cover;
    background-position: center;
}

/* .navigation {
    position: fixed;
    top: 0;
    left: 0;
}  */

.page-heading {
    padding-top: 3rem;
    color: var(--color-orange1);
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
}

.describe-text {
    font-size: 1.2rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0;
    text-align: center;
    color: var(--color-orange1);
    margin-bottom: 2rem;
}

.modal-button-up {
    position: fixed;
    bottom: 5rem;
    left: 5rem;

    width: 4rem;
    height: 4rem;
    background-color: #421919bd;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-whats-app {
    position: fixed;
    bottom: 5rem;
    right: 5rem;

    width: 4rem;
    height: 4rem;
    background-color: #25D366;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 0;
}

.modal-button-up-icons {
    font-size: 2.3rem;
    color: var(--color-orange1);
}

.modal-whats-app-icons {
    font-size: 2.3rem;
    color: var(--color-white);
}

.modal-whats-app-icons:hover {
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .modal-button-up {
        width: 3rem;
        height: 3rem;
        bottom: 3rem;
        left: 2rem;
    }

    .modal-button-up-icons {
        font-size: 1.8rem;
    }

    .modal-whats-app {
        width: 3rem;
        height: 3rem;
        bottom: 3rem;
        right: 2rem;
    }

    .modal-whats-app-icons {
        font-size: 1.8rem;
    }
}